img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  border: 1px;
  border-style: solid;
  border-color: lightblue;
}

.home {
  display: inline-block;
  margin-right: 9%;
  margin-left: 9%;
  margin-top: 5%;
}
