img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  border: 1px;
  border-style: solid;
  border-color: lightblue;
}

.home {
  display: inline-block;
  margin-right: 9%;
  margin-left: 9%;
  margin-top: 5%;
}

.container {
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  display: inline-block;
  width: 28%;
  margin-bottom: 80px;
}

.card:not(:nth-last-child(3n+1)) {
  margin-right: 8%;
}
