<app-header></app-header>
<div class="container">
  <div class="card" *ngFor="let item of presenter.products">
    <app-product [product]="item"></app-product>
  </div>
  <!-- <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div>
  <div class="card">
    <app-product></app-product>
  </div> -->
</div>
<!--<div class="home">
  <img src="assets/img/mascarillas/mascarilla-01.jpg" alt="">
</div>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-02.jpg" alt="">
</div>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-03.jpg" alt="">
</div>
<br>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-04.png" alt="">
</div>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-05.png" alt="">
</div>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-06.png" alt="">
</div>
<br>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-07.jpg" alt="">
</div>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-08.jpg" alt="">
</div>
<div class="home">
  <img src="assets/img/mascarillas/mascarilla-09.png" alt="">
</div> -->
