:host {
  display: block;

  .input-file {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  input {
    display: none;
  }
}
