:host {
  // display: block;
  max-width: 300px;
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  margin-top: 130px;

  text-align: center;
}

img {
  max-width: 200px;
  margin-bottom: 20px;
}
