.header {
  height: 250px;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: auto;
  }
}
